doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        meta(name="description" content="It is a simple Basic Calculator.")
        meta(property="og:image" content="https://webstockreview.net/images/bird-clipart-owl-2.png")
        meta(name="author" content="Aman Kumar")

        link(rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.14.0/css/all.css")
        link(rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous")
        script(src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous")

        link(rel="stylesheet" type="text/css" href="style.css")
        link(rel="icon" href="https://res.cloudinary.com/dbvthtwhc/image/upload/v1612333795/Basic-Calculator/icon.png" type="image/x-icon")
        title Basic Calculator

    body
        noscript You need to enable JavaScript to run this app.

        #loading

        .main-content
            .background-video
                video(autoplay loop muted)#video
            
            .calc
                .main-calc
                    .custom-control.custom-switch.float-right
                        input(type="checkbox").custom-control-input#customSwitch1
                        label(for="customSwitch1").custom-control-label

                    #result
                        #history
                            p#history-value
                        #output
                            p#output-value

                    #keyboard
                        button.operator#clear CE
                        button.operator#backspace C
                        button.operator(id="%") %
                        button.operator(id="/") &#247;
                        button.number#7 7
                        button.number#8 8
                        button.number#9 9
                        button.operator(id="*") &times;
                        button.number#4 4
                        button.number#5 5
                        button.number#6 6
                        button.operator(id="-") -
                        button.number#1 1
                        button.number#2 2
                        button.number#3 3
                        button.operator(id="+") +
                        button.empty#empty
                        button.number#0 0
                        button.empty#empty
                        button.operator(id="=") =
        
        script(src="script/calculator.js")